 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/g1f96322afe5fa3cbfba12238150bf27f074c7b1db9b56aff660fa9f853d89040df40929bcdebecdf734f6b8ab0791518_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 501px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 711px;
}

.u-section-2 .u-slider-1 {
  min-height: 661px;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 37px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 80px;
}

.u-section-2 .u-image-1 {
  width: 115px;
  height: 115px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 14px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 148px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px 148px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 12px auto 0 154px;
}

.u-section-2 .u-text-4 {
  margin: -24px auto 0;
}

.u-section-2 .u-text-5 {
  margin: -24px 69px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 11px 61px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin: -160px auto 0 152px;
}

.u-section-2 .u-text-8 {
  margin: -32px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 14px 80px;
}

.u-section-2 .u-image-2 {
  width: 115px;
  height: 115px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 148px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -64px 148px 0 auto;
}

.u-section-2 .u-text-11 {
  margin: 12px auto 0 154px;
}

.u-section-2 .u-text-12 {
  margin: -24px auto 0;
}

.u-section-2 .u-text-13 {
  margin: -24px 69px 0 auto;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  margin: 11px 61px 0 auto;
}

.u-section-2 .u-text-15 {
  font-size: 1.25rem;
  margin: -160px auto 0 151px;
}

.u-section-2 .u-text-16 {
  margin: -32px auto 32px;
}

.u-section-2 .u-container-layout-3 {
  padding: 14px 80px;
}

.u-section-2 .u-image-3 {
  width: 115px;
  height: 115px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-18 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 148px;
}

.u-section-2 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-2 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: -64px 148px 0 auto;
}

.u-section-2 .u-text-19 {
  margin: 12px auto 0 154px;
}

.u-section-2 .u-text-20 {
  margin: -24px auto 0;
}

.u-section-2 .u-text-21 {
  margin: -24px 69px 0 auto;
}

.u-section-2 .u-text-22 {
  font-size: 1.25rem;
  margin: 11px 61px 0 auto;
}

.u-section-2 .u-text-23 {
  font-size: 1.25rem;
  margin: -160px auto 0 155px;
}

.u-section-2 .u-text-24 {
  margin: -32px auto 32px;
}

.u-section-2 .u-container-layout-4 {
  padding: 14px 80px;
}

.u-section-2 .u-image-4 {
  width: 115px;
  height: 115px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-25 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-26 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-icon-10 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 148px;
}

.u-section-2 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-2 .u-icon-12 {
  width: 64px;
  height: 64px;
  margin: -64px 148px 0 auto;
}

.u-section-2 .u-text-27 {
  margin: 12px auto 0 154px;
}

.u-section-2 .u-text-28 {
  margin: -24px auto 0;
}

.u-section-2 .u-text-29 {
  margin: -24px 69px 0 auto;
}

.u-section-2 .u-text-30 {
  font-size: 1.25rem;
  margin: 11px 52px 0 auto;
}

.u-section-2 .u-text-31 {
  font-size: 1.25rem;
  margin: -160px auto 0 155px;
}

.u-section-2 .u-text-32 {
  margin: -32px auto 32px;
}

.u-section-2 .u-container-layout-5 {
  padding: 14px 80px;
}

.u-section-2 .u-image-5 {
  width: 115px;
  height: 115px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-33 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-34 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-icon-13 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 148px;
}

.u-section-2 .u-icon-14 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-2 .u-icon-15 {
  width: 64px;
  height: 64px;
  margin: -64px 148px 0 auto;
}

.u-section-2 .u-text-35 {
  margin: 12px auto 0 154px;
}

.u-section-2 .u-text-36 {
  margin: -24px auto 0;
}

.u-section-2 .u-text-37 {
  margin: -24px 69px 0 auto;
}

.u-section-2 .u-text-38 {
  font-size: 1.25rem;
  margin: 11px 67px 0 auto;
}

.u-section-2 .u-text-39 {
  font-size: 1.25rem;
  margin: -160px auto 0 151px;
}

.u-section-2 .u-text-40 {
  margin: -32px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  width: 115px;
  height: 115px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 14px auto 0;
}

.u-section-2 .u-text-41 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-42 {
  font-size: 1.25rem;
  margin: 0 80px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 359px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-16 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-43 {
  margin: 12px auto 0;
}

.u-section-2 .u-text-44 {
  font-size: 1.25rem;
  margin: 43px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 359px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-icon-17 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-45 {
  margin: 12px auto 0;
}

.u-section-2 .u-text-46 {
  margin: 11px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 359px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-icon-18 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-47 {
  margin: 12px auto 0;
}

.u-section-2 .u-text-48 {
  font-size: 1.25rem;
  margin: 11px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-2 .u-slider-1 {
    height: auto;
  }

  .u-section-2 .u-text-42 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 296px;
  }

  .u-section-2 .u-text-47 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-48 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-text-21 {
    margin-top: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-46 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-47 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-48 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 127px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 112px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 26px;
    margin-left: -26px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 123px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 153px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 382px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 108px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 138px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 375px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 127px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 112px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 26px;
    margin-left: -26px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 123px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 153px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 382px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 108px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 138px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 375px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 127px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 112px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 26px;
    margin-left: -26px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 123px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: 20px;
    margin-left: 153px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 382px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 108px;
  }

  .u-section-2 .u-text-20 {
    margin-top: 20px;
    margin-left: 138px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 375px;
  }

  .u-section-2 .u-text-23 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-24 {
    margin-top: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 127px;
  }

  .u-section-2 .u-text-25 {
    margin-left: 112px;
  }

  .u-section-2 .u-text-26 {
    margin-right: 26px;
    margin-left: -26px;
  }

  .u-section-2 .u-icon-10 {
    margin-left: 123px;
  }

  .u-section-2 .u-icon-11 {
    margin-left: 153px;
  }

  .u-section-2 .u-icon-12 {
    margin-left: 382px;
  }

  .u-section-2 .u-text-27 {
    margin-left: 108px;
  }

  .u-section-2 .u-text-28 {
    margin-left: 138px;
  }

  .u-section-2 .u-text-29 {
    margin-left: 375px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 127px;
  }

  .u-section-2 .u-text-33 {
    margin-left: 112px;
  }

  .u-section-2 .u-text-34 {
    margin-right: 26px;
    margin-left: -26px;
  }

  .u-section-2 .u-icon-13 {
    margin-left: 123px;
  }

  .u-section-2 .u-icon-14 {
    margin-left: 153px;
  }

  .u-section-2 .u-icon-15 {
    margin-left: 382px;
  }

  .u-section-2 .u-text-35 {
    margin-left: 108px;
  }

  .u-section-2 .u-text-36 {
    margin-left: 138px;
  }

  .u-section-2 .u-text-37 {
    margin-left: 375px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-46 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-47 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-48 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 1331px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 91px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 91px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 95px;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    margin-left: 94px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    margin-left: auto;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 91px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 91px;
    margin-left: auto;
  }

  .u-section-2 .u-text-11 {
    margin-left: 95px;
  }

  .u-section-2 .u-text-12 {
    margin-left: auto;
  }

  .u-section-2 .u-text-13 {
    margin-left: auto;
  }

  .u-section-2 .u-text-15 {
    margin-left: 93px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-17 {
    margin-left: auto;
  }

  .u-section-2 .u-text-18 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 91px;
  }

  .u-section-2 .u-icon-8 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-9 {
    margin-right: 91px;
    margin-left: auto;
  }

  .u-section-2 .u-text-19 {
    margin-left: 95px;
  }

  .u-section-2 .u-text-20 {
    margin-left: auto;
  }

  .u-section-2 .u-text-21 {
    margin-left: auto;
  }

  .u-section-2 .u-text-23 {
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-25 {
    margin-left: auto;
  }

  .u-section-2 .u-text-26 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-10 {
    margin-left: 91px;
  }

  .u-section-2 .u-icon-11 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-12 {
    margin-right: 91px;
    margin-left: auto;
  }

  .u-section-2 .u-text-27 {
    margin-left: 95px;
  }

  .u-section-2 .u-text-28 {
    margin-left: auto;
  }

  .u-section-2 .u-text-29 {
    margin-left: auto;
  }

  .u-section-2 .u-text-31 {
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    margin-left: auto;
  }

  .u-section-2 .u-text-33 {
    margin-left: auto;
  }

  .u-section-2 .u-text-34 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-13 {
    margin-left: 91px;
  }

  .u-section-2 .u-icon-14 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-15 {
    margin-right: 91px;
    margin-left: auto;
  }

  .u-section-2 .u-text-35 {
    margin-left: 95px;
  }

  .u-section-2 .u-text-36 {
    margin-left: auto;
  }

  .u-section-2 .u-text-37 {
    margin-left: auto;
  }

  .u-section-2 .u-text-39 {
    margin-left: 93px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-42 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-2 .u-icon-16 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-43 {
    width: auto;
  }

  .u-section-2 .u-text-44 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 323px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 4px;
  }

  .u-section-2 .u-icon-18 {
    margin-top: 1px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-tabs-1 {
  min-height: 464px;
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-1 {
  background-image: none;
}

.u-section-3 .u-tab-link-2 {
  background-image: none;
}

.u-section-3 .u-tab-link-3 {
  background-image: none;
}

.u-section-3 .u-tab-link-4 {
  background-image: none;
}

.u-section-3 .u-tab-link-5 {
  background-image: none;
}

.u-section-3 .u-tab-link-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-group-1 {
  width: 747px;
  min-height: 372px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 30px auto 0;
  padding: 11px 24px 11px 23px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-3 .u-group-2 {
  width: 747px;
  min-height: 372px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 31px auto 0;
  padding: 11px 24px 11px 23px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-3 .u-group-3 {
  width: 747px;
  min-height: 372px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 31px auto 0;
  padding: 11px 24px 11px 23px;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 30px 30px;
}

.u-section-3 .u-group-4 {
  width: 747px;
  min-height: 372px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 31px auto 0;
  padding: 11px 24px 11px 23px;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 30px 30px;
}

.u-section-3 .u-group-5 {
  width: 747px;
  min-height: 372px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 31px auto 0;
  padding: 11px 24px 11px 23px;
}

.u-section-3 .u-container-layout-11 {
  padding: 0 30px 30px;
}

.u-section-3 .u-group-6 {
  width: 747px;
  min-height: 372px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px 50px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 31px auto 0;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-tabs-1 {
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    height: 50px;
  }

  .u-section-3 .u-btn-2 {
    height: 50px;
  }

  .u-section-3 .u-btn-3 {
    height: 50px;
  }

  .u-section-3 .u-btn-4 {
    height: 50px;
  }

  .u-section-3 .u-btn-5 {
    height: 50px;
  }

  .u-section-3 .u-btn-6 {
    height: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 660px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-2 {
    width: 660px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-3 {
    width: 660px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-4 {
    width: 660px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-5 {
    width: 660px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-6 {
    width: 660px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-5 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-6 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 320px;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
  }

  .u-section-3 .u-group-3 {
    width: 320px;
  }

  .u-section-3 .u-group-4 {
    width: 320px;
  }

  .u-section-3 .u-group-5 {
    width: 320px;
  }

  .u-section-3 .u-group-6 {
    width: 320px;
  }
}