 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/gb2cbb8edc9244ccf24eb926e1d1b85e5b0ad245b0bce5f53f566be5fed479b550597616ac794c6e270439a79af4d6585_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 517px;
}

.u-section-1 .u-text-1 {
  margin: 219px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 245px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 154px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 404px;
}.u-section-3 .u-sheet-1 {
  min-height: 404px;
}.u-section-4 .u-sheet-1 {
  min-height: 8677px;
}

.u-section-4 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-4 .u-table-1 {
  width: 1041px;
  margin: -58px auto 0;
}

.u-block-986e-11 {
  height: 47px;
}

.u-section-4 .u-table-cell-1 {
  font-size: 1.5rem;
}

.u-section-4 .u-table-cell-3 {
  font-size: 1.5rem;
}

.u-section-4 .u-table-cell-5 {
  font-size: 1.5rem;
}

.u-section-4 .u-table-cell-7 {
  font-size: 1.5rem;
}

.u-block-986e-26 {
  height: 47px;
}

.u-section-4 .u-text-2 {
  margin: 29px 0 0;
}

.u-section-4 .u-table-2 {
  width: 1041px;
  margin: -90px auto 0;
}

.u-block-986e-33 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-9 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-10 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-11 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-13 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-15 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-17 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-19 {
  font-size: 1.25rem;
}

.u-block-986e-54 {
  height: 47px;
}

.u-section-4 .u-text-3 {
  margin: 16px 0 0;
}

.u-section-4 .u-table-3 {
  width: 1041px;
  margin: -97px auto 60px;
}

.u-block-986e-71 {
  height: 47px;
}

.u-block-986e-89 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    width: 940px;
  }

  .u-section-4 .u-table-2 {
    width: 940px;
  }

  .u-section-4 .u-table-3 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-table-1 {
    width: 720px;
  }

  .u-section-4 .u-table-2 {
    width: 720px;
  }

  .u-section-4 .u-table-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-table-1 {
    width: 540px;
  }

  .u-section-4 .u-table-2 {
    width: 540px;
  }

  .u-section-4 .u-table-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-table-1 {
    width: 340px;
  }

  .u-section-4 .u-table-2 {
    width: 340px;
  }

  .u-section-4 .u-table-3 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}